<div class="row">
	<div class="col s12 center">
		<img src="{{APP_IMAGE_PATH}}<%= picture %>">
		<h1><%= name %></h1>
		<p>
			Fundado en <%= founded %><br>
			Estadio: <%= venue %><br>
			País: <%= area %>
		</p>
	</div>
</div>

<div class="row">
	<div class="s12">
		<table class="table striped centered">
			<thead>
				<tr>
					<th>Jugador</th>
					<th>Nacimiento</th>
				</tr>
			</thead>
			<tbody>
				<% players.forEach(function(player) { %>
				<tr>
					<td>
						<%= player.name %><br>

						<% if(player.role != "Player") { %>
							<%= player.role %>
						<% } else { %>
							<% if(player.number) { %>
								<b>#<%= player.number %></b>
							<% } %>
							<%= player.position %></td>
						<% } %>
					<td>
						<%= player.dob %><br>
						<%= player.country %>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'FUTBOL'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>