<div class="row">
	<div class="col s12 center">
		<h1><%= name %></h1>
		<p>
			Fundado en <%= founded %><br>
			Estadio: <%= venue %><br>
			País: <%= area %>
		</p>
	</div>
</div>

<% if(players.length) { %>
	<ul class="collection one-line">
		<% players.forEach(function(item) { %>
			<li class="collection-item avatar">
				<% var icon = (item.position == 'Entrenador') ? 'street-view' : 'running'; %>
				<i class="tiny material-icons circle"><i class="fas fa-<%= icon %>"></i></i>

				<span class="title spacing">
					<% if(item.number) { %>
						<b class="spacing">#<%= item.number %></b>
					<% } %>
					<%= item.name %>
				</span>

				<% if(item.position) { %>
					<span class="chip tiny"><%= item.position %></span>
				<% } %>

				<p>
					<span class="chip medium clear spacing"><i class="fas fa-globe"></i> <%= item.country %></span>
					<span class="chip medium clear spacing"><i class="fas fa-birthday-cake"></i> <%= item.dob %></span>
				</p>
			</li>
		<% }) %>
	</ul>
<% } else { %>
	<p class="middle-center grey-text center-align">No tenemos información sobre los jugadores de este equipo. Revisamos que pasó e intentaremos buscar la data. Mientras, puede leer más sobre el equipo en Wikipedia.</p>
<% } %>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light green" onclick="apretaste.send({command:'WIKIPEDIA', data:{query:'<%= name %>'}})">
		<i class="fab fa-wikipedia-w"></i>
	</a>
</div>
