<div class="row">
	<div class="col s12 center">
		<h1><%= name %></h1>
		<p>
			Fundado en <%= founded %><br>
			Estadio: <%= venue %><br>
			País: <%= area %>
		</p>
	</div>
</div>

<ul class="collection one-line">
	<% players.forEach(function(item) { %>
		<li class="collection-item avatar">
			<% if(item.position == "Referi") { %>
				<i class="tiny material-icons circle"><i class="fas fa-street-view"></i></i>
			<% } else { %>
				<i class="tiny material-icons circle"><i class="fas fa-running"></i></i>
			<% } %>
			<span class="title">
				<% if(item.number) { %>
					<b>#<%= item.number %></b>
				<% } %>
				<%= item.name %>
			</span>
			<% if(item.position) { %>
				<span class="chip tiny"><%= item.position %></span>
			<% } %>
			<p class="blue-grey-text">
				<span class="chip medium clear spacing"><i class="fas fa-flag"></i> <%= item.country %></span>
				<span class="chip medium clear spacing"><i class="fas fa-birthday-cake"></i> <%= item.dob %></span>
			</p>
		</li>
	<% }) %>
</ul>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light green" onclick="apretaste.send({command:'WIKIPEDIA', data:{query:'<%= name %>'}})">
		<i class="fab fa-wikipedia-w"></i>
	</a>
</div>
