<div class="row">
	<div class="col s12">
		<% teams.forEach(function(item){ %>
			<div class="card">
				<div class="card-content fixed-height">
					<img class="image left" src="{{APP_SERVICE_PATH}}/images/<%= item.leagueCode %>.jpg">
					<span class="card-title"><%= item.leagueName %></span>
					<p>
						<% if(item.countryCode) { %>
							<img class="flag spacing" src="{{APP_RESOURCES}}/images/flags/<%= item.countryCode %>.png"/>
						<% } %>
						<%= item.countryName %>
					</p>
				</div>
				<div class="card-action grey lighten-4">
					<a class="green-text" href="#!" onclick="apretaste.send({command: 'FUTBOL RESULTADOS', data: {id:'<%= item.leagueCode %>'}})">Ver liga</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>
