<div class="row">
	<div class="col s12 center-align">
		<img src="{{APP_SERVICE_PATH}}/images/<%= league.leagueCode %>.jpg">
	</div>
</div>

<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a class="active" href="#">Resultados</a></li> 
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'FUTBOL SIGUIENTES', data:{id:'<%= league.leagueCode %>'}})">Próximos</a></li> 
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'FUTBOL MARCADOR', data:{id:'<%= league.leagueCode %>'}})">Marcador</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% if(matches.length) { %>
			<table class="table striped centered">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Local</th>
						<th>Visitante</th>
					</tr>
				</thead>
				<tbody>
					<% matches.forEach(function(match) { %>
						<tr>
							<td>
								<%= match.date %><br>
								<%= match.time %>
							</td>
							<td>
								<span class="badge indigo lighten-5"><%= match.homeScore %></span><br>
								<a href="#!" onclick="apretaste.send({command: 'FUTBOL EQUIPO', data:{id:'<%= match.homeId %>'}})"><%= match.homeName %></a>
							</td>
							<td>
								<span class="badge indigo lighten-5"><%= match.awayScore %></span><br>
								<a href="#!" onclick="apretaste.send({command: 'FUTBOL EQUIPO', data:{id:'<%= match.awayId %>'}})"><%= match.awayName %></a>
							</td>
						</tr>
					<% }) %>
				</tbody>
			</table>
		<% } else { %>
			<p class="middle-center grey-text center-align">No encontramos ningún resultado. ¿Quizás esta liga está fuera de temporada? Revise nuevamente en los próximos días.</p>
		<% } %>
	</div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'FUTBOL'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>