<div class="row">
	<div class="col l12 s12 x12">
	<h1>Selecciona tu liga:</h1>
		<table style="text-align:center;" width="100%" class="table">
			<tr>
				<th><h2>Liga</h2></th>
				<th><h2>Jornada Actual</h2></th>
				<th><h2>M&aacute;s informaci&oacute;n</h2></th>
			</tr>
			<% for(var i = 0; i < ligas.length; i++) { %>
				<tr>
				  <td style="font-weight: bold;"><%= liga.name %></td>
				  <td style=""><a href = "#!" onclick="apretaste.send({command: 'FUTBOL JORNADA', data: {query: ligas[<%= i %>].id, currentMatchDay: ligas[<%= i %>].currentSeason.currentMatchday}})"><%= liga.currentSeason.currentMatchday %></a></td>
				  <td style="" colspan="1">
					<a href="#!" onclick="apretaste.send({command:'FUTBOL LIGA', data:{query: ligas[<%= i %>].id}});">Ver liga</a>
				  </td>
			   </tr>
			<% } %>
		</table>
	</div>
</div>
