<div style="background: url('{{APP_SERVICE_PATH}}/images/<%= liga.payload.code %>.png');opacity: 0.05; z-index:-1000;position:fixed;top:0px;left:0px; min-height:50%; width:100%;background-size:cover;">
</div>
<div class="row">
    <div class="col l12 m12 x12 s12 center ">
		<h1> <a href="#!" class="" onclick="apretaste.send({
                command: 'FUTBOL LIGA',
                data: {
                    payload: liga.payload.id
                }});"><%= titulo %></a></h1>
    </div>
</div>

<div class="row" style="margin-bottom: 50px;">
    <div class="col l12 m12 x12 s12">
		<table style="text-align:center" width="100%" class="table">
			<tr>
				<th><h2>Fecha</h2></th>
				<th><h2>Local</h2></th>
				<th></th>
				<th><h2>Visitante</h2></th>
				<th colspan="3"><h2>Resultado</h2></th>
			</tr>
			<% for(var i=0; i < fixture.length; i++) {
					var juego = fixture[i]; %>
					<tr>
						<td><%= formatDate(juego.utcDate) %></td>
						<td><%= juego.homeTeam.name %></td>
						<td>-</td>
						<td><%= juego.awayTeam.name %></td>
						<td><b><%= juego.score.fullTime.homeTeam %></b></td>
						<td><b>:</b></td>
						<td><b><%= juego.score.fullTime.awayTeam %></b></td>
					</tr>

			<% } %>
		</table>
	</div>
</div>

	<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({command: 'FUTBOL' });">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
