<div style="background-image: url('{{APP_SERVICE_PATH}}/images/<%= league %>.png')" class="bg"></div>

<div class="row">
	<div class="col s12">
		<h1>Champion's league</h1>

		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'FUTBOL RESULTADOS', data:{id:'<%= league %>'}})">Resultados</a></li>
			<li class="tab disabled"><a class="active" href="#">Siguientes</a></li> 
			<li class="tab"><a href="#" onclick="apretaste.send({command:'FUTBOL MARCADOR', data:{id:'<%= league %>'}})">Marcador</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<table class="table striped centered">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Local</th>
					<th>Visitante</th>
				</tr>
			</thead>
			<tbody>
				<% matches.forEach(function(match) { %>
				<tr>
					<td><%= match.date %><br><%= match.time %></td>
					<td><a href="#!" onclick="apretaste.send({command:'FUTBOL EQUIPO', data:{id:'<%= match.homeId %>'}})"><%= match.homeName %></a></td>
					<td><a href="#!" onclick="apretaste.send({command:'FUTBOL EQUIPO', data:{id:'<%= match.awayId %>'}})"><%= match.awayName %></a></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'FUTBOL'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>